<form [formGroup]="formulario" (ngSubmit)="EnviarDatos()">
    <ul>
        <li>
            <label for="titulo">Titulo<br></label>
            <input  formControlName="titulo" type="text" placeholder="Nota">
        </li>
        <li>
            <label for="estado">Estado<br></label>
            <select  formControlName="estado">
                <option value="0" selected>Select</option>
                <option value="abierto">Abierto</option>
                <option value="enProceso">En Proceso</option>
                <option value="cerrado">Cerrado</option>
            </select>
        </li>
        <li>
            <label for="descripcion">Descripción<br></label>
            <textarea  formControlName="descripcion"  cols="30" rows="10" maxlength="150"></textarea>
        </li>
        <li>
            <button class="button" type="submit">Agregar</button>
        </li>
    </ul>
</form>
