ul li{
    list-style-type: none;
    margin:10px;
    font: oblique 18px cursive;
    
}
input,select,textarea{
    margin-top:10px;
    font: oblique 65% cursive;
    border:inset;
    
    /*border: darkmagenta 4px wave;*/
}
.button{
    
    position: relative;
    display: inline-block;
    font: oblique 15px cursive;
    border-radius:20px;
    background-color: rgb(252, 165, 52);
    color:white;
    box-shadow: 2px 2px 2px 1px rgb(157, 208, 214);    
}

textarea:focus, input:focus, input[type]:focus,select:focus {
    border-color: rgb(255, 144, 0);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,144,0,0.6);
    outline: 0 none;
}
