ul li{
    list-style-type: none;
}
.abierto{
    background-color: red;
}

.enproceso{
    background-color: yellow;
}

.cerrado{
    background-color: blue;
}

div#caja{
    position: fixed;
    top: 90%;
    left: 47%;
}
.button{
    width: 200px;
    position: relative;
    display: inline-block;
    font: oblique 15px cursive;
    border-radius:20px;
    background-color: rgb(252, 165, 52);
    color:white;
    box-shadow: 2px 2px 2px 1px rgb(157, 208, 214);    
}

//https://material.angular.io/components/card/overview