<ul>
  <div class="caja-nota">
    <h1>Abierto</h1>
    <li *ngFor = "let nota of ListaNotasA" >
      <button class="btnGigante">
        <mat-card class="card" (onRefresh(nota))=nota > 
          <div [ngClass]="{'abierto': nota.Estado === 'Abierto', 'cerrado': nota.Estado === 'Cerrado','enproceso': nota.Estado === 'Proceso'}">
            <mat-card-header>
              <mat-card-title class="card-titulo">{{nota.Titulo}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="card-descripcion">
                {{nota.Descripcion}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <div *ngIf="nota.Estado!='Cerrado'">
                <button mat-button class="btnmodificar" (click)="Editar(nota)"><span class="material-icons">edit</span></button>
              </div>
              <button mat-button class="btneliminar" (click)="Eliminar(nota)"><span class="material-icons">delete</span></button>
            </mat-card-actions>
          </div> 
        </mat-card>
      </button>
    </li>
  </div>
  <div class="caja-nota">
    <h1>En Proceso</h1>
    <li *ngFor = "let nota of ListaNotasP">
      <button class="btnGigante">
        <mat-card class="card" (onRefresh(nota))=nota > 
          <div [ngClass]="{'abierto': nota.Estado === 'Abierto', 'cerrado': nota.Estado === 'Cerrado','enproceso': nota.Estado === 'Proceso'}">
            <mat-card-header>
              <mat-card-title class="card-titulo">{{nota.Titulo}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="card-descripcion">
                {{nota.Descripcion}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <div *ngIf="nota.Estado!='Cerrado'">
                <button mat-button class="btnmodificar" (click)="Editar(nota)"><span class="material-icons">edit</span></button>
              </div>
              <button mat-button class="btneliminar" (click)="Eliminar(nota)"><span class="material-icons">delete</span></button>
            </mat-card-actions>
          </div> 
        </mat-card>
      </button>
    </li>
  </div>
  <div class="caja-nota">
    <h1>Cerrado</h1>
    <li *ngFor = "let nota of ListaNotasC">
      <button class="btnGigante">
        <mat-card class="card" (onRefresh(nota))=nota > 
          <div [ngClass]="{'abierto': nota.Estado === 'Abierto', 'cerrado': nota.Estado === 'Cerrado','enproceso': nota.Estado === 'Proceso'}">
            <mat-card-header>
              <mat-card-title class="card-titulo">{{nota.Titulo}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="card-descripcion">
                {{nota.Descripcion}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <div *ngIf="nota.Estado!='Cerrado'">
                <button mat-button class="btnmodificar" (click)="Editar(nota)"><span class="material-icons">edit</span></button>
              </div>
              <button mat-button class="btneliminar" (click)="Eliminar(nota)"><span class="material-icons">delete</span></button>
            </mat-card-actions>
          </div> 
        </mat-card>
      </button>
    </li>  
  </div>
    
</ul>

<div id="caja">
    <a [routerLink]="['/notas']" routerLinkActive="router-link-active">
      <button class="button">+  Adicionar</button>
    </a>
</div>   